*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F8F6F3;
  font-family: "Avenir Next", sans-serif;
  font-size: 12px;  /* was 14 */
  line-height: 160%;
  color: #8991A2;
}



.container {
  margin: 0 auto;
  width: 375px;
}

.ios_essentials {
  background-color: #343C4F;
  padding: 3px 0 0 6px;
}

.nav {
  background-color: #343C4F;
  padding: 6px 0 0 9px;
  font-size: 1.3em;
  color: #fff;
  display: flex;
  align-items: center;
  top: 20px;
}



img {
  padding-right: 6px;
  margin-top: 3px;
}

.go_back {
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
  color: #8991A2;
  align-items: center;
}


.main_title {
  background-color: #343C4F;
  padding: 40px 16px 16px 16px;
  top: 50px;

}

.ios_essentials, .nav, {
  position: fixed;
  width: 375px;
  z-index: 1;
}


.column_title {
  background-color: #B4BBCB;
  padding: 4px 0 0 16px;
  display: flex;
  justify-content: space-between;
  height: 27px;
  color: #343D4E;
  font-weight: 500;
}

.column_title_oos {
  /* margin-top: 2px; */
  background-color: #B4BBCB;
  padding: 4px 0 0 16px;
  display: flex;
  justify-content: space-between;
  height: 27px;
  color: #343D4E;
  font-weight: 500;
}

.bus_times {
  display: flex;
  padding-right: 16px;
  justify-content: flex-end;
}

.next {
  margin-left: 17px;
}



/* underlying icons */

.route, .route_oos {
  background-image: url("/images/blue_icon.png");
}

.route_now {
  background-image: url("/images/orange_icon.png");
}

.oos {
  background-color: rgba(180, 187, 203, .4);
}


.route, .route_now, .reroute, .route_oos, .left_info_alert {
  border-bottom: 1px solid rgba(180, 187, 203, 40);
  background-origin: content-box;
  background-repeat: no-repeat;
  height: 56px;  /* changed from 44 */
  padding-right: 16px;
  display: flex;
}


.route, .route_now, .route_oos {
  background-size: 63px 32px;
  padding-top: 11px;
}


.reroute {
  background-image: url("/images/orange_icon_alert.png");
  background-size: 66px 34px;
  padding-top: 9px;
  height: 55px;
}





.route:hover, .route_now:hover, .reroute:hover {
  background-color: #ece5db;
}

.route_oos:hover {
  background-color: rgba(180, 187, 203, .8);
}


.left_info {
  display: flex;
  align-items: flex-start;
  flex: 2.5;
}


.line {
  flex: 0.5;
  font-size: 1.5em;
  font-weight: 500;
  color: #fff;
  text-align: right;
  padding-right: 22px;
  padding-top: 7px;
}

.destination {
  flex: 2;
  font-weight: 500;
}


.time_pair {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.time_resume {
  font-size: 1.7em;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.time_now {
  flex: 1;
  font-size: 2.1em;
  color: #8c929f;
  font-weight: 500;
  text-align: right;
  padding-right: 10px;
}

.reroute .time_now,
.route_now .time_now {
  color: #D47132;
}

.next_time {
  flex: 1;
  text-align: right;
  align-self: baseline;
}


h1 {
  color: #FFF;
  font-size: 1.7em;
}


h2 {
  text-transform: uppercase;
  color: #B4BBCB;
  font-weight: 500;
}


h4 {
  font-size: 1.2em;
  line-height: 110%;
}

p {
}

.change {
  text-transform: uppercase;
  font-style: italic;
  color: #D47132;
}


section:last-child {
  border-bottom: 1px dashed rgba(180, 187, 203, .4);
}
